@import 'support/vars.css.scss';

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #050505;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

.content form .field{ margin:0.25em }
.content form .actions{ margin:1em 0 }
.content form .actions * { vertical-align:bottom  }
.content form .field input,
.content form .field select{ width: 20em }

.content label{
  min-width:8em;
  display: inline-block;
  text-align: right;
  font-weight: bold;
}


.content table{
  width:95%;
  margin-left:2em;
  border-collapse: collapse;
  tr:hover td { background-color:#222}
  td       { padding:1em}
  th       { text-align:left }
  th,td    { border-bottom: 1px solid #222; }


  td, th { position:relative }
  th:after,
  td:after      {
    content:' ';
    left:0;right:0;bottom:-2px;
    position:absolute;
    border-bottom: 1px solid #555;
  }
}

input,select,textarea
{
  border: 1px solid $base;
  font-size:1.25em;
  padding:0.25em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color:lighten(#6E6E6E,30%);
  background-color:#202020;
  box-shadow:rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}

textarea
{overflow:auto}

input:focus,select:focus,textarea:focus
{ outline-color:#FC0; }


select{
  -webkit-appearance:none;
  -moz-appearance:none;
  -o-appearance:none;
  appearance:none;
  background: #202020 url("/assets/br_down.png") no-repeat right center;
  option { background-color:#202020; }
}




.content a.button       { color: white }
.content a.button:hover { color: white }
.content a.button:hover { color: white }


.button {cursor:pointer}
.button {
	-moz-box-shadow:inset -1px -12px 3px 0px #006bc8;
	-webkit-box-shadow:inset -1px -12px 3px 0px #006bc8;
	box-shadow:inset -1px -12px 3px 0px #006bc8;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0581e6), color-stop(1, #006bc9) );
	background:-moz-linear-gradient( center top, #0581e6 5%, #006bc9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0581e6', endColorstr='#006bc9');
	background-color:#0581e6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #399bd4;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #032542;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006bc9), color-stop(1, #0581e6) );
	background:-moz-linear-gradient( center top, #006bc9 5%, #0581e6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006bc9', endColorstr='#0581e6');
	background-color:#006bc9;
}.button:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */






